In [1]:
import pandas as pd
import numpy as np

Load data

In [2]:
crops_recode = pd.read_csv(r"C:\Users\Verne\Desktop\Entity Academy Training\Group Final Project\Data Lake\CropsMergedDataR.csv")

In [3]:
crops_recode.head()

   Crops  Year     Tonnes   USD1000  TempChange
0      1  1999  239548580  17247498       0.755
1      1  2000  251853900  18385335       1.000
2      1  2001  241376650  18827379       0.784
3      1  2002  227766880  20726786       0.953
4      1  2003  256229020  24341757       0.992

Check data types

In [4]:
datatypes = crops_recode.dtypes
print(datatypes)

Crops           int64
Year            int64
Tonnes          int64
USD1000         int64
TempChange    float64
dtype: object

Test changing TempChange from float to int

In [5]:
crops_recode['TempChange'].astype('int')

0     0
1     1
2     0
3     0
4     0
     ..
58    1
59    2
60    1
61    1
62    1
Name: TempChange, Length: 63, dtype: int32

A lof of the value change to zero, returning datatype to float.

In [6]:
crops_recode['TempChange'].astype('float')

0     0.755
1     1.000
2     0.784
3     0.953
4     0.992
      ...
58    1.534
59    2.229
60    1.437
61    1.278
62    1.040
Name: TempChange, Length: 63, dtype: float64

The values in 'Crops' were recoded via Excel

Check values in 'Year'

In [7]:
crops_recode['Year'].unique()

array([1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
       2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019],
      dtype=int64)

Recode 'Year' values

In [21]:
def year_recode (series):
    if series == 1999:
        return 1
    if series == 2000:
        return 2
    if series == 2001:
        return 3
    if series == 2002:
        return 4
    if series == 2003:
        return 5
    if series == 2004:
        return 6
    if series == 2005:
        return 7
    if series == 2006:
        return 8
    if series == 2007:
        return 9
    if series == 2008:
        return 10
    if series == 2009:
        return 11
    if series == 2010:
        return 12
    if series == 2011:
        return 13
    if series == 2012:
        return 14
    if series == 2013:
        return 15
    if series == 2014:
        return 16
    if series == 2015:
        return 17
    if series == 2016:
        return 18
    if series == 2017:
        return 19
    if series == 2018:
        return 20
    if series == 2019:        
        return 21

Apply function to crops_recode df

In [22]:
crops_recode['YearR'] = crops_recode['Year'].apply(year_recode)

In [23]:
crops_recode.head(25)

,Crops,Year,Tonnes,USD1000,TempChange,YearR,TempChangeR,TempChangeR2
0,1,1999,239548580,17247498,0.755,1,1.0,0
1,1,2000,251853900,18385335,1.000,2,2.0,1
2,1,2001,241376650,18827379,0.784,3,3.0,0
3,1,2002,227766880,20726786,0.953,4,4.0,0
4,1,2003,256229020,24341757,0.992,5,5.0,0
5,1,2004,299875570,24289921,0.866,6,6.0,0
6,1,2005,282262550,22298741,1.157,7,7.0,2
7,1,2006,267502850,32100342,1.028,8,8.0,2
8,1,2007,331177280,54644251,1.147,9,9.0,2
9,1,2008,305911450,48945832,0.215,10,10.0,0
10,1,2009,331921050,46468947,0.399,11,11.0,0
11,1,2010,315617920,64386056,0.694,12,12.0,0
12,1,2011,312788890,76633278,0.539,13,13.0,0
13,1,2012,273192400,74035140,1.451,14,14.0,2
14,1,2013,351271870,61823849,0.618,15,15.0,0
15,1,2014,361091140,52719306,0.504,16,16.0,0
16,1,2015,345486340,49059060,1.534,17,17.0,2
17,1,2016,412262180,54418608,2.229,18,18.0,2
18,1,2017,371096030,48984676,1.437,19,19.0,2
19,1,2018,364262150,51725225,1.278,20,20.0,2
20,1,2019,345962110,52404183,1.040,21,21.0,2
21,2,1999,72223460,12277988,0.755,1,1.0,0
22,2,2000,75055290,12534233,1.000,2,2.0,1
23,2,2001,78671470,12666107,0.784,3,3.0,0
24,2,2002,75010030,15227036,0.953,4,4.0,0

Check unique values in 'TempChange'

In [11]:
crops_recode['TempChange'].unique()

array([0.755, 1.   , 0.784, 0.953, 0.992, 0.866, 1.157, 1.028, 1.147,
       0.215, 0.399, 0.694, 0.539, 1.451, 0.618, 0.504, 1.534, 2.229,
       1.437, 1.278, 1.04 ])

TempChange recode option 1

In [12]:
temps = [0.755, 1.   , 0.784, 0.953, 0.992, 0.866, 1.157, 1.028, 1.147,
       0.215, 0.399, 0.694, 0.539, 1.451, 0.618, 0.504, 1.534, 2.229,
       1.437, 1.278, 1.04 ]
temp_change_recode = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

crops_recode['TempChangeR'] = crops_recode['TempChange'].replace(temps, temp_change_recode)

In [13]:
crops_recode['TempChangeR'].astype('int')

0      1
1      2
2      3
3      4
4      5
      ..
58    17
59    18
60    19
61    20
62    21
Name: TempChangeR, Length: 63, dtype: int32

In [14]:
crops_recode.head(30)

    Crops  Year     Tonnes   USD1000  TempChange  YearR  TempChangeR
0       1  1999  239548580  17247498       0.755      0          1.0
1       1  2000  251853900  18385335       1.000      1          2.0
2       1  2001  241376650  18827379       0.784      2          3.0
3       1  2002  227766880  20726786       0.953      3          4.0
4       1  2003  256229020  24341757       0.992      4          5.0
5       1  2004  299875570  24289921       0.866      5          6.0
6       1  2005  282262550  22298741       1.157      6          7.0
7       1  2006  267502850  32100342       1.028      7          8.0
8       1  2007  331177280  54644251       1.147      8          9.0
9       1  2008  305911450  48945832       0.215      9         10.0
10      1  2009  331921050  46468947       0.399     10         11.0
11      1  2010  315617920  64386056       0.694     11         12.0
12      1  2011  312788890  76633278       0.539     12         13.0
13      1  2012  273192400  74035140       1.451     13         14.0
14      1  2013  351271870  61823849       0.618     14         15.0
15      1  2014  361091140  52719306       0.504     15         16.0
16      1  2015  345486340  49059060       1.534     16         17.0
17      1  2016  412262180  54418608       2.229     17         18.0
18      1  2017  371096030  48984676       1.437     18         19.0
19      1  2018  364262150  51725225       1.278     19         20.0
20      1  2019  345962110  52404183       1.040     20         21.0
21      2  1999   72223460  12277988       0.755      0          1.0
22      2  2000   75055290  12534233       1.000      1          2.0
23      2  2001   78671470  12666107       0.784      2          3.0
24      2  2002   75010030  15227036       0.953      3          4.0
25      2  2003   66782720  18031334       0.992      4          5.0
26      2  2004   85015630  17938298       0.866      5          6.0
27      2  2005   83506580  17369369       1.157      6          7.0
28      2  2006   87000620  20532146       1.028      7          8.0
29      2  2007   72859180  27030756       1.147      8          9.0

In [15]:
crops_recode.astype({"TempChangeR":int})

    Crops  Year     Tonnes   USD1000  TempChange  YearR  TempChangeR
0       1  1999  239548580  17247498       0.755      0            1
1       1  2000  251853900  18385335       1.000      1            2
2       1  2001  241376650  18827379       0.784      2            3
3       1  2002  227766880  20726786       0.953      3            4
4       1  2003  256229020  24341757       0.992      4            5
..    ...   ...        ...       ...         ...    ...          ...
58      3  2015   55839540  10051117       1.534     16           17
59      3  2016   62831507   8984906       2.229     17           18
60      3  2017   47379810   8196707       1.437     18           19
61      3  2018   51305540   9696747       1.278     19           20
62      3  2019   52580890   8727023       1.040     20           21

[63 rows x 7 columns]

In [16]:
datatypes = crops_recode.dtypes
print(datatypes)

Crops            int64
Year             int64
Tonnes           int64
USD1000          int64
TempChange     float64
YearR            int64
TempChangeR    float64
dtype: object

TempChange recode option 2:

In [17]:
def temp_change_recode (series):
    if series < 1:
        return 0
    if series == 1:
        return 1
    if series > 1:
        return 2

In [18]:
crops_recode['TempChangeR2'] = crops_recode['TempChange'].apply(temp_change_recode)

In [25]:
crops_recode.head(30)

,Crops,Year,Tonnes,USD1000,TempChange,YearR,TempChangeR,TempChangeR2
0,1,1999,239548580,17247498,0.755,1,1.0,0
1,1,2000,251853900,18385335,1.000,2,2.0,1
2,1,2001,241376650,18827379,0.784,3,3.0,0
3,1,2002,227766880,20726786,0.953,4,4.0,0
4,1,2003,256229020,24341757,0.992,5,5.0,0
5,1,2004,299875570,24289921,0.866,6,6.0,0
6,1,2005,282262550,22298741,1.157,7,7.0,2
7,1,2006,267502850,32100342,1.028,8,8.0,2
8,1,2007,331177280,54644251,1.147,9,9.0,2
9,1,2008,305911450,48945832,0.215,10,10.0,0
10,1,2009,331921050,46468947,0.399,11,11.0,0
11,1,2010,315617920,64386056,0.694,12,12.0,0
12,1,2011,312788890,76633278,0.539,13,13.0,0
13,1,2012,273192400,74035140,1.451,14,14.0,2
14,1,2013,351271870,61823849,0.618,15,15.0,0
15,1,2014,361091140,52719306,0.504,16,16.0,0
16,1,2015,345486340,49059060,1.534,17,17.0,2
17,1,2016,412262180,54418608,2.229,18,18.0,2
18,1,2017,371096030,48984676,1.437,19,19.0,2
19,1,2018,364262150,51725225,1.278,20,20.0,2
20,1,2019,345962110,52404183,1.040,21,21.0,2
21,2,1999,72223460,12277988,0.755,1,1.0,0
22,2,2000,75055290,12534233,1.000,2,2.0,1
23,2,2001,78671470,12666107,0.784,3,3.0,0
24,2,2002,75010030,15227036,0.953,4,4.0,0
25,2,2003,66782720,18031334,0.992,5,5.0,0
26,2,2004,85015630,17938298,0.866,6,6.0,0
27,2,2005,83506580,17369369,1.157,7,7.0,2
28,2,2006,87000620,20532146,1.028,8,8.0,2
29,2,2007,72859180,27030756,1.147,9,9.0,2

Recap:

Recoded Crops in excel, maize = 1, soybean = 2, wheat = 3;
Recoded Year to  YearR;
Recoded TempChange to TempChangeR and TempChangeR2;

Export to csv file

In [26]:
crops_recode.to_csv('crops_recode.csv')