In [1]:
import pandas as pd

In [2]:
Explore_data = pd.read_csv("../Data/Normalized Datasets/NormalizedMergedData.csv")

In [3]:
Explore_data.head()

      Crops  Year  Value in Tonnes  Value in US$1000  Temperature Change
0     Maize  1999      239548580.0        17247498.0               0.755
1  Soybeans  1999       72223460.0        12277988.0               0.755
2     Wheat  1999       62567284.0         5693623.0               0.755
3     Maize  2000      251853900.0        18385335.0               1.000
4  Soybeans  2000       75055290.0        12534233.0               1.000

In [4]:
Explore_data.dtypes

Crops                  object
Year                    int64
Value in Tonnes       float64
Value in US$1000      float64
Temperature Change    float64
dtype: object

In [ ]:
##Need to Recode Variables

In [9]:
#Recode Year

In [5]:
Explore_data['Year'].unique()

array([1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
       2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019],
      dtype=int64)

In [6]:
def year_recode (series):
    if series == 1999:
        return 1
    if series == 2000:
        return 2
    if series == 2001:
        return 3
    if series == 2002:
        return 4
    if series == 2003:
        return 5
    if series == 2004:
        return 6
    if series == 2005:
        return 7
    if series == 2006:
        return 8
    if series == 2007:
        return 9
    if series == 2008:
        return 10
    if series == 2009:
        return 11
    if series == 2010:
        return 12
    if series == 2011:
        return 13
    if series == 2012:
        return 14
    if series == 2013:
        return 15
    if series == 2014:
        return 16
    if series == 2015:
        return 17
    if series == 2016:
        return 18
    if series == 2017:
        return 19
    if series == 2018:
        return 20
    if series == 2019:        
        return 21

In [7]:
Explore_data['YearR'] = Explore_data['Year'].apply(year_recode)

In [8]:
Explore_data.head(25)

,Crops,Year,Value in Tonnes,Value in US$1000,Temperature Change,YearR
0,Maize,1999,239548580.0,17247498.0,0.755,1
1,Soybeans,1999,72223460.0,12277988.0,0.755,1
2,Wheat,1999,62567284.0,5693623.0,0.755,1
3,Maize,2000,251853900.0,18385335.0,1.000,2
4,Soybeans,2000,75055290.0,12534233.0,1.000,2
5,Wheat,2000,60639376.0,5821380.0,1.000,2
6,Maize,2001,241376650.0,18827379.0,0.784,3
7,Soybeans,2001,78671470.0,12666107.0,0.784,3
8,Wheat,2001,52999932.0,5405993.0,0.784,3
9,Maize,2002,227766880.0,20726786.0,0.953,4
10,Soybeans,2002,75010030.0,15227036.0,0.953,4
11,Wheat,2002,43703968.0,5725220.0,0.953,4
12,Maize,2003,256229020.0,24341757.0,0.992,5
13,Soybeans,2003,66782720.0,18031334.0,0.992,5
14,Wheat,2003,63803256.0,7975407.0,0.992,5
15,Maize,2004,299875570.0,24289921.0,0.866,6
16,Soybeans,2004,85015630.0,17938298.0,0.866,6
17,Wheat,2004,58697040.0,7337130.0,0.866,6
18,Maize,2005,282262550.0,22298741.0,1.157,7
19,Soybeans,2005,83506580.0,17369369.0,1.157,7
20,Wheat,2005,57241992.0,7212491.0,1.157,7
21,Maize,2006,267502850.0,32100342.0,1.028,8
22,Soybeans,2006,87000620.0,20532146.0,1.028,8
23,Wheat,2006,49216040.0,7726918.0,1.028,8
24,Maize,2007,331177280.0,54644251.0,1.147,9

In [10]:
#Recode TempChange

In [ ]:
## Should we change this variable?